bin/
obj/
*.user
*.suo
*.cache
*.log
*.db
*.mdf
*.ldf
*.sqlite
.vs
.vscode
.github
.config
publish/
/publish
appsettings.Development.json
# Secrets et fichiers sensibles
appsettings.*.json
secrets.json
*.usersecrets.json